/* Big tablet: 1024 - 1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* Medium tablet: 768 - 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  .mobile-nav-icon {
    display: block;
  }

  .main-nav {
    float: left;
    margin-top: 21px;
    margin-left: 25px;
    display: none;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 3px 0;
    font-size: 100%;
  }
  .sticky .mobile-nav-icon {
    margin-top: 9px;
  }

  .sticky .main-nav {
    margin-top: -16px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 16px 0;
    border: 0;
  }

  section {
    padding: 60px 0;
  }

  .long-copy {
    line-height: 145%;
    width: 80%;
    margin: 0 auto;
  }
  .meals-showcase {
    margin-bottom: -3px;
  }

  .meals-showcase li {
    margin-right: -3px;
  }

  .steps-box:last-child {
    margin-top: 114px;
  }

  .works-step {
    margin-bottom: 40px;
  }

  .works-step:last-of-type {
    margin-bottom: 60px;
  }

  .works-step div {
    height: 38px;
    width: 38px;
    padding: 6px;
    float: left;
    font-size: 123%;
  }

  .app-screen {
    width: 55%;
  }

  .city-info .text {
    margin-left: 4px;
  }

  blockquote::after {
    bottom: -54px;
  }

  .contact-form {
    width: 70%;
  }
  .label {
    margin-top: 10px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}

/* Small phone and small tablet: 481 - 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }

  .sticky .main-nav {
    margin-top: -15px;
  }

  .logo {
    height: 67px;
  }

  h3 {
    margin-bottom: -18px;
  }

  .works-step div {
    height: 26px;
    width: 26px;
    padding: 4px;
  }

  .btn-app img {
    height: 30px;
  }

  .works-step:last-of-type {
    margin-bottom: 36px;
  }

  .city-info ion-icon {
    vertical-align: -1px;
  }

  blockquote::after {
    bottom: -24px;
  }

  .meals-showcase {
    margin-bottom: -2px;
  }

  .meals-showcase li {
    margin-right: -2px;
  }
}

/* Small phone: < 480px */
@media only screen and (max-width: 480px) {
}
